/* TODO Add site wide styles */

/* ~~~~~~~~~~~~~~~ Developer Night Mode ~~~~~~~~~~~~~~~ */
/* body {color: white;background-color: black;}
input {color: white; background-color: black; border: 1px solid white;}
a {color: white;} */

body {
  width: 500px;
  display: block;
  margin: 20px auto;
}

img {
  width: 500px;
  display: block;
}

summary {
  transition: 2s;
}

home {
  text-align: center;
}

home p {
  line-height: 20px;
}

home h1 {
  margin-top: 70px;
}

navbar {
  margin-bottom: 70px;
}

navbar a {
  color: dodgerblue;
  margin-right: 5px;
  font-size: 13px;
  text-transform: lowercase;
}

navbar button {
  background: none;
  border: none;
  color: dodgerblue;
  font-family: serif;
  text-decoration: underline;
  padding: 0;
}