/* TODO Add site wide styles */

/* ~~~~~~~~~~~~~~~ Developer Night Mode ~~~~~~~~~~~~~~~ */
/* body {color: white;background-color: black;}
input {color: white; background-color: black; border: 1px solid white;}
a {color: white;} */

img {
  width: 500px;
  display: block;
}